In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Creo el df con las tablas de ratings
score1 = pd.read_csv('rating1.csv')
score2 = pd.read_csv('rating2.csv')
score3 = pd.read_csv('rating3.csv')
score4 = pd.read_csv('rating4.csv')
score5 = pd.read_csv('rating5.csv')
score6 = pd.read_csv('rating6.csv')
score7 = pd.read_csv('rating7.csv')
score8 = pd.read_csv('rating8.csv')

In [3]:
df_scores= pd.concat([score1, score2, score3, score4, score5, score6, score7, score8])
df_scores.head()

   userId  rating   timestamp movieId
0       1     1.0  1425941529   as680
1       1     4.5  1425942435  ns2186
2       1     5.0  1425941523  hs2381
3       1     5.0  1425941546  ns3663
4       1     5.0  1425941556  as9500

In [4]:
#Renmobro columnas id para que sea equivalente nombre del otro df, y tmb columna rating a score para que sea distinta a columna del otro df.
df_scores.rename(columns = {'movieId':'id'}, inplace = True)
df_scores.rename(columns = {'rating':'score'}, inplace = True)
df_scores.head()

   userId  score   timestamp      id
0       1    1.0  1425941529   as680
1       1    4.5  1425942435  ns2186
2       1    5.0  1425941523  hs2381
3       1    5.0  1425941546  ns3663
4       1    5.0  1425941556  as9500

In [5]:
#Calculo el score por pel√≠cula xq hay varios usuarios que dan puntaje a la misma peli
scores_mean = df_scores.groupby(['id'],as_index=False).mean()
scores_mean.head(5)

       id        userId     score     timestamp
0     as1  99178.623506  3.467131  1.173241e+09
1    as10  92915.883041  3.439571  1.176385e+09
2   as100  83483.262791  3.609302  1.165458e+09
3  as1000  90606.197938  3.556701  1.168386e+09
4  as1001  92349.085288  3.585288  1.179517e+09

In [6]:
scores_mean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         22998 non-null  object
 1   userId     22998 non-null  float64
 2   score      22998 non-null  float64
 3   timestamp  22998 non-null  float64
dtypes: float64(3), object(1)
memory usage: 718.8+ KB

In [7]:
# Elimino columnas userId y timestamp que no me sirven
scores_mean.drop('userId', axis=1, inplace=True)
scores_mean.drop('timestamp', axis=1, inplace=True)

In [8]:
scores_mean.sort_values(by ='score', ascending= False, inplace= True)
scores_mean.head(5)

           id     score
9586   as9627  3.724512
12422  hs2172  3.717143
16638  ns3200  3.709278
5621   as6058  3.708140
11128  hs1007  3.703061

In [9]:
#Conviero el dataframe scores_mean en un csv para usar en mi programa principal
scores_mean.to_csv('scores_data.csv', index=False)